img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  position: relative;
  padding: 1rem 1rem 1rem 3rem !important;
  color: #008ae6 !important;
  background-color: rgba(0, 138, 230, 0.15) !important;
  border: none;
  border-radius: 0.75rem;
}

blockquote::before {
  content: "💡";
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  font-style: normal;
}

blockquote > a {
  color: #008ae6 !important;
}

article a:hover {
  --tw-text-opacity: 0.85;
  color: hsl(var(--nextra-primary-hue) 100% 45% / var(--tw-text-opacity));
}
