@layer components {
  .nextra-steps {
    counter-reset: step;
    
    h3 {
      counter-increment: step;
      position: relative;
      
      &::before {
        @apply absolute w-[33px] h-[33px] flex items-center justify-center; 
        @apply border-4 border-white bg-gray-100 dark:border-dark dark:bg-neutral-800;
        @apply rounded-full text-neutral-400 text-base font-normal;
        @apply mt-[3px] ml-[-41px];
        content: counter(step);
        line-height: 1;
      }
      
      &:hover::before {
        @apply bg-primary-50 text-primary-600 dark:bg-primary-900/50 dark:text-primary-400;
      }
    }
  }
}